<%- include('./partials/head') %>

	<body>

		<%- include('./partials/header') %>


			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title">
						<%= product.nombreProducto %>
					</h2>
				
				<ul class="productEdit">
    <%if (typeof isOwner !== 'undefined' && isOwner) { %> <!-- Verifica si el usuario es el propietario -->
        <li class="product-detail-description">
            <a href="/product/<%= product.id %>/edit">Editar</a>
        </li>
        <li class="product-detail-description">
			<form action="/product/<%= product.id %>/destroy" method="POST" >
				<button type="submit">Eliminar</button>
			</form>
        </li>
    <% } %>
</ul>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="/images/products/<%= product.imagen %>" alt="<%= product.nombreProducto %>"
								class="product-detail-img"
								onerror="this.onerror=null;this.src='/images/defaultprod.jpg'">
								<!-- funcion oneerror para que si la foto no se craga se muestre una imagen default -->
								
							<p class="product-detail-description">
								<%= product.descripcion %>
							</p>
						</article>
						<div class="col-12 col-lg-4">
							<!-- ACA VAN LOS COMENTARIOS -->
							<h3>Comentarios</h3>
							<% if (comentarios && comentarios.length > 0) { %>
								<ul>
									<% comentarios.forEach(function(comentario) { %>
										<li class="product-detail-description">
											<%= comentario.comentario %> -
											<a href="/users/show/<%= comentario.idUsuario %>">
												<%= comentario.usuario %>
											</a>
										</li>
									<% }); %>
								</ul>
							<% } else { %>
								<p>No hay comentarios aún.</p>
							<% } %>
							
							<% if (user) { %>
								<form class="form" action="/product/comment/add" method="POST">
									<input type="hidden" name="productoId" value="<%= product.id %>">
									<input type="hidden" name="productName" value="<%= product.nombreProducto %>">
									<input type="hidden" name="productDescription" value="<%= product.descripcion %>">
									<input type="hidden" name="productImage" value="<%= product.imagen %>">
									<input type="hidden" name="comentarios" value='<%= JSON.stringify(comentarios) %>'>
									
									<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
									<% if (errors && errors.length > 0) { %>
										<div class="error">
											<% errors.forEach(function(error) { %>
												<p class="error-text"><%= error.msg %></p>
											<% }); %>
										</div>
									<% } %>
									<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
								</form>
							<% } else { %>
								<p class="product-detail-description">Debes estar <a href="/users/login">logueado</a> para agregar comentarios.</p>
							<% } %>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->

			<%- include('./partials/footer') %>

	</body>

	</html>