<%- include('./partials/head') %>

<body>
	<% if (locals.user !=null) { %>
		<%- include('./partials/headerLogueado') %>
			<% } else { %>
				<%- include("./partials/header") %>
					<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<h2 class="col-12"> 
				<form action="/users/register" method="POST">
					<label for="email">Email:</label><br>
					<input type="email" id="email" name="email" value="<%= oldData ? oldData.email : '' %>"><br>
					<% if (errors && errors.email) { %>
						<p style="color: red;"><%= errors.email.msg %></p>
					<% } %>
						
					<label for="usuario">Usuario:</label><br>
					<input type="text" id="usuario" name="usuario" value="<%= oldData.usuario ? oldData.usuario : '' %>" ><br>
					<% if (errors && errors.usuario) { %>
						<p style="color: red;"><%= errors.usuario.msg %></p>
					<% } %>
					
					<label for="contraseña">Contraseña:</label><br>
					<input type="password" id="contrasenia" name="contrasenia" ><br>
					<% if (errors && errors.contrasenia) { %>
						<p style="color: red;"><%= errors.contrasenia.msg %></p>
					<% } %>
					
					<label for="fechaNacimiento">Fecha de nacimiento:</label><br>
					<input type="date" id="fecha" name="fecha" value="<%= oldData.fecha ? oldData.fecha : '' %>"><br>
					
					<label for="nroDocumento">Número de documento:</label><br>
					<input type="number" id="dni" name="dni" value="<%= oldData.dni ? oldData.dni : '' %>"><br><br>
					
					<label for="fotoPerfil">Foto de perfil (URL):</label><br>
					<input type="text" id="fotoPerfil" name="fotoPerfil" value="<%= oldData.fotoPerfil ? oldData.fotoPerfil : '' %>"><br><br>

					<button type="submit">Registrarse</button>
					
				</form>
				
			</h2>


	<%- include('./partials/footer') %>

</body>

</html>